<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>httpRequest-ObjectiveC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>915DE1E21E5249C2006AFFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>915DE1FB1E5249C2006AFFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>915DE2061E5249C2006AFFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
